*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}
body{
    background-color: #eee;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.topo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #bbb;
    padding: 5px;
}
.corpo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    gap:10px;
    padding: 10px;
}
.painel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.p1{
    width: 30%;
}
.p2{
    width: 70%;
}
.grafico{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.grafico p{
    color: #008;
    font-weight: bold;
}
.trilhoGrafico{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.trilhoGrafico div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    font-weight: bold;
    background-color: #008;
    color: #000;
}

.producao, .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.producao p, .info p{
    color: #008;
    font-weight: bold;
}
.producao span, .info span{
    color: #444;
    font-weight: normal;
}

.mensagens{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 60vh;
    max-height: 60vh;
    border:1px solid #aaa;
    padding: 5px;
    overflow-y: scroll;
    font-size: small;
    scroll-behavior: smooth;
}
.topico{
    font-weight: bold;
    color: #008;
}
.mensagem{
    color:#888;
}
.selCelula{
    width: 100%;
    min-height: 30px;
    border:1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background-color: #fff;
    cursor: pointer;
}

input[type="number"],input[type="text"]{
    width: 100%;
    min-height: 30px;
    border:1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0px;
}
label{
    margin-top: 10px;
    font-weight: bold;
    color: #008;
}
