body{
    background-color: #eee;
}

.calc{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap:10px;
    background-color: #999;
    padding: 10px;
    border-radius: 10px;
}

.campoNumero{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
    background-color: #fff;
    border-radius:5px;
    border: none;
}

button{
    padding: 10px;
    background-color: #008;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}